.App {
  text-align: center;
}

.ContainerStore {
  display: flex;
  flex-wrap: wrap;
}

.Card {
  width: 200px;
  height: 200px;
  margin: 70px 40px;
}

img {
  width: 200px;
  height: 200px;
}

h1 {
  font-size: 1rem;
}
